.front {
    display: none;
    position: absolute;
    background: $wtf;
    min-height: 70vh;
    width: 90%;
    z-index: 997;
    top: 120px;
    text-align: center;
    align-items: center;
    flex-direction: column;
        &__dog {
            margin-top: 2px;
            width: 260px;
            z-index: 0;
        }
        &__title {

        }
        &__squares-pattern {
            display: flex;
            width: 35px;
            height: 80px;
            background-color: #6b5f5f;
            border: 1px solid #ffffff;
            border-radius: 4px;
            padding: 2px;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            z-index: 1;
            margin-top: -150px;
            margin-left: 112px;
          }
          &__square {
            width: 12px;
            height: 12px;
            margin: 2px;
            align-self: center;
      
            }
          &__square-on {
            margin-top: 140px;
            margin-bottom: 20px;
            background: none;
            border: 0;
            outline: 0;
            }
          &__square-off {
            margin-bottom: 20px;
            background: none;
            border: 0;
            outline: 0;
              }
          &__userColor {
            margin-top: 8px;
            margin-bottom: 12px;
            width: 80vw;
            height: 24px;
            }
          &__userColor--label {
              font-size: 18px;
            }
}
.front--open {
    display: flex;
}