@import "~normalize.css";
@import "_variables";
@import "modules/hello.scss";
@import "../scss/hamburgers/hamburgers.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@import "../scss/front.scss";
@import "../scss/personalPhrase.scss";
@import "../scss/settings.scss";

.app {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  margin-top: -84px;
    &__title {
      margin-bottom: 32px;
    }
    &__dog {
      width: 260px;
      z-index: 0;
    }
    &__squares-pattern {
      display: flex;
      width: 100px;
      background-color: #6b5f5f;
      border: 1px solid #ffffff;
      border-radius: 4px;
      padding: 2px;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      z-index: 1;
      margin-top: -170px;
      margin-left: -42px;
    }
    &__square {
      width: 12px;
      height: 12px;
      margin: 2px;
      align-self: center;

      }
    &__square-buttons {
      margin-top: 110px;
    }
    &__square-on {
      background: none;
      border: 0;
      outline: 0;
      margin: 36px;
      }
    &__square-off {
      background: none;
      border: 0;
      outline: 0;
      margin: 36px;
        }
    &__userColor {
      margin-top: 8px;
      margin-bottom: 12px;
      width: 80vw;
      height: 24px;
      -webkit-appearance: none;
      border: 0;
      }
    &__userColor--label {
        font-size: 18px;
        margin-bottom: 8px;
      }
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

body {
  background: $wtf;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.hamburger {
  border: 0;
  position: fixed;
  right: 4px;
  top: 8px;
  z-index: 999;
  background: none;
    &:active {
      outline: none;
      border: none;
    }
    &:focus {
      outline: 0;
    }
}

.footer {
  position: fixed;
  width: 80%;
  height: 10vh;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 999;
  border-top: 1px solid #fff;
  
    &__text {
      text-align: center;
      line-height: 1.5rem;
    }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  max-height: 14vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  z-index: 999;
  border-bottom: 1px solid #fff;
    &__img {
      color: #fff;

    }
    &__title {
      margin-top: -14px;
      color: #fff;
      font-size: 24px;
    }
}

.nav {
  display: none;
  border: 2px solid #fff;
  border-radius: 5px;
  min-height: 40px;
    &__link {
      justify-content: center;
      align-content: center;
      padding: 4px;
      width: 100%;
    }
  }
.nav--open {
    display: flex;
    position: absolute;
    z-index: 999;
    width: 90%;
    align-self: center;
    margin-top: 190px;
    }