.subpage2 {
    display: none;
    position: absolute;
    background: $wtf;
    height: 75vh;
    width: 90%;
    z-index: 997;
    text-align: center;
    top: 120px;
    flex-direction: column;
}
.subpage2--open {
    display: flex;
}