.subpage2 {
    display: none;
    position: absolute;
    background: $wtf;
    min-height: 75vh;
    width: 90%;
    z-index: 997;
    text-align: center;
    top: 160px;
}
.subpage2--open {
    display: flex;
}